server:
  port: 8080

spring:
  application:
    name: account-service

  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: ''

  h2:
    console:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  config:
    import:
      - "application_qa.yaml"
      - "application_prod.yaml"

  profiles:
    active:
      - "qa"

build:
  version: "3.0"

accounts:
  message: "Welcome to Bank accounts related local APIs"
  contactDetails:
    name: "Ritik Ranjan"
    email: "ritikranjan999@gmail.com"
  onCallSupport:
    - +919876543210
    - +919087654321