server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: ''

  h2:
    console:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  application:
    name: accounts

  config:
    import: "optional:configserver:http://localhost:8071"

  profiles:
    active: prod

  rabbitmq:
    host: localhost
    port: 5672
    stream:
      username: guest
      password: guest

management:
  endpoints:
    web:
      exposure:
        include: "*"